In [2]:
import gmaps
import pandas as pd
import os
import csv
from config import g_key
import requests

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
city_csv = os.path.join('..', 'python-api-challenge', 'city_file.csv')
city_df = pd.read_csv(city_csv)
city_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloud_Cover,Wind,Country,Date
0,0,rikitea,-23.12,-134.97,71.15,75,0,13.33,PF,1597532320
1,1,kapaa,22.08,-159.32,84.79,66,40,12.75,US,1597532320
2,2,atar,20.52,-13.05,101.48,21,73,6.69,MR,1597532320
3,3,emborion,40.48,21.55,66.20,93,3,1.12,GR,1597532320
4,4,port alfred,-33.59,26.89,52.45,67,98,21.03,ZA,1597532044
...,...,...,...,...,...,...,...,...,...,...
578,578,kalispell,48.20,-114.31,84.02,23,1,12.75,US,1597532472
579,579,nalut,30.33,10.85,82.72,22,0,11.74,LY,1597532473
580,580,taicheng,38.73,113.23,63.90,85,100,2.71,CN,1597532473
581,581,verkhovazhye,60.75,42.05,48.43,94,38,3.98,RU,1597532473
582,582,karpogory,64.00,44.45,54.72,81,100,7.11,RU,1597532473

In [5]:
locations = city_df[["Latitude","Longitude"]]
humidity = city_df["Humidity"].astype(float)
wind = city_df["Wind"]
temp = city_df["Temperature"].astype(float)

In [6]:
fig = gmaps.figure(map_type='HYBRID')

In [7]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

In [8]:
fig.add_layer(heat_layer)

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
ideal_city_df = city_df.loc[(city_df['Temperature'] >=70) & (city_df['Temperature'] <=80) & (city_df['Wind'] < 5) & (city_df['Cloud_Cover'] == 0), :]

In [11]:
ideal_city_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloud_Cover,Wind,Country,Date
82,82,angoche,-16.23,39.91,70.18,83,0,3.56,MZ,1597532340
266,266,avarua,-21.21,-159.78,77.00,94,0,4.70,CK,1597532385
474,474,yarqa,31.98,35.69,72.52,44,0,4.70,JO,1597532443
488,488,delijan,33.99,50.68,71.64,41,0,3.24,IR,1597532447
495,495,komsomolskiy,40.43,71.72,71.60,46,0,4.70,UZ,1597532449
504,504,gasa,31.50,34.47,72.97,40,0,4.85,PS,1597532451

In [96]:
ideal_city_df.to_csv('Idealfile.csv')

In [46]:

city_coords = ["-16.23, 39.91", "-21.21, -159.78", "31.98, 35.69", "33.99, 50.68", "40.43, 71.72", "31.50, 34.37"]

hotels = []

# rewrite params dict
for coords in city_coords:
    target_type = "lodging"
    radius = 5000
    params = {
        "location": coords,
        "types": target_type,
        "radius": radius,
        "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Run request
    response = requests.get(base_url, params)
    city_hotel = response.json()
    hotels.append(city_hotel["results"][0]["name"])
    print(city_hotel['results'][0]['name'])

Guest House HESADA
Paradise Inn
محلات فايز صلاحين
ایزوگام آسیاگستردلیجان
Ikathouse
قاعات روابي صالة VIP

In [36]:
marker_locations = [(-16.23, 39.91), (-21.21, -159.78), (31.98, 35.69), (33.99, 50.68), (40.43, 71.72), (31.50, 34.37)]
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))